body {
  height: auto;
  background: #F6F6F6; }

.hyf-desc-banner {
  width: 100%;
  height: 3.2rem;
  top: .88rem;
  position: fixed;
  z-index: -1;
  background: url("../Img/hyf_desc0.png") no-repeat center/cover; }

.hyf-desc-info {
  width: 100%;
  height: 7rem;
  overflow: hidden;
  padding: 0 .24rem;
  position: absolute;
  top: .88rem; }
  .hyf-desc-info .hyf-desc-info-con {
    width: 100%;
    height: 7rem;
    background: #fff;
    user-select: none;
    box-shadow: 0 0 10px #929292; }
    .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-img {
      width: 100%;
      height: 3.52rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-img img {
        max-width: 100%;
        max-height: 100%; }
    .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent {
      width: 100%;
      padding: 0 .38rem;
      height: 3.48rem;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;
      align-content: space-around; }
      .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent h1 {
        color: #474747;
        font-size: 0.24rem; }
      .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent h2 {
        color: #474747;
        font-size: 0.32rem;
        font-variant-caps: all-petite-caps; }
      .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-center {
        width: 5.46rem;
        height: 6px;
        display: block;
        background: url("../Img/hyf_desc-list1.png") no-repeat center/auto; }
      .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .info-centent-sub {
        font-size: 0.2rem;
        color: #ABABAB; }
      .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-color {
        width: 3.3rem;
        height: .44rem;
        display: flex;
        justify-content: space-between;
        margin: .2rem 0; }
        .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-color li {
          width: .44rem;
          height: .44rem;
          border-radius: 50%; }
        .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-color li:nth-child(1) {
          background: #abdbfc; }
        .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-color li:nth-child(2) {
          background: #b8abfc; }
        .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-color li:nth-child(3) {
          background: #fcabc4; }
        .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-color li:nth-child(4) {
          background: #fcdeab; }
        .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-color li.active {
          width: .2rem;
          height: .2rem;
          border: .13rem solid #b8abfc;
          background: #fff;
          box-sizing: content-box; }
      .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-cost {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center; }
        .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-cost p {
          color: #FFC71C;
          font-size: 0.32rem; }
          .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-cost p span {
            font-size: 0.56rem; }
        .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-cost .desc-info-cost {
          width: 1.84rem;
          height: .45rem;
          border: 1px solid #d1d1d1;
          border-radius: 5px;
          display: flex;
          align-items: center; }
          .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-cost .desc-info-cost input {
            width: .8rem;
            height: .3rem;
            border: 1px solid #7e8c8d;
            border-top: 0;
            border-bottom: 0;
            border-right: 0;
            text-align: center; }
          .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-cost .desc-info-cost .desc-info-cost-right {
            width: .5rem;
            height: 100%;
            background: #ffc71c;
            color: #fff; }
          .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-cost .desc-info-cost .desc-info-cost-left {
            width: .5rem;
            height: 100%;
            display: block;
            color: #848484;
            text-align: center; }
            .hyf-desc-info .hyf-desc-info-con .hyf-desc-info-centent .desc-info-cost .desc-info-cost .desc-info-cost-left i {
              margin: 0 0 0 .05rem;
              width: .2rem;
              height: 1px;
              background: #848484;
              display: inline-block; }

.hyf-dity-main {
  width: 100%;
  height: 6.3rem;
  margin-top: 8rem; }
  .hyf-dity-main .hyf-dity-cont {
    width: 100%;
    height: 100%;
    user-select: none; }
    .hyf-dity-main .hyf-dity-cont .title {
      width: 100%;
      height: 1.2rem;
      display: flex;
      justify-content: center; }
      .hyf-dity-main .hyf-dity-cont .title .title-con {
        width: 3rem;
        height: .56rem;
        margin: .25rem 0 0 0;
        background: url("../Img/hyf_desc_list3.png") no-repeat center/cover; }
    .hyf-dity-main .hyf-dity-cont .dity-main {
      width: 100%;
      height: 5.1rem;
      background: #fff;
      box-shadow: 0 0 10px #929292;
      display: flex;
      flex-flow: column wrap; }
      .hyf-dity-main .hyf-dity-cont .dity-main .dity-main-list {
        width: 6.8rem;
        height: .78rem;
        margin: 0.24rem auto;
        border-radius: .45rem;
        background: #1ca9fb;
        padding: 0 .2rem;
        display: flex;
        flex-flow: wrap row;
        align-items: center; }
        .hyf-dity-main .hyf-dity-cont .dity-main .dity-main-list li {
          width: 3.19rem;
          height: .6rem;
          text-align: center;
          line-height: .6rem;
          color: #fff;
          font-size: 0.32rem; }
        .hyf-dity-main .hyf-dity-cont .dity-main .dity-main-list li.active {
          color: #1ca9fb;
          background: url("../Img/hyf_list6.png") no-repeat center/cover; }
      .hyf-dity-main .hyf-dity-cont .dity-main .dity-goodplay {
        width: 100%;
        height: 2.92rem;
        border-top: 1px solid #7e8c8d;
        display: flex;
        justify-content: center;
        align-items: center; }
        .hyf-dity-main .hyf-dity-cont .dity-main .dity-goodplay .dity-goodplay-con {
          width: 2.5rem;
          height: 2.52rem;
          background: url("../Img/hyf_desc1.png") no-repeat center/cover;
          text-align: center; }
          .hyf-dity-main .hyf-dity-cont .dity-main .dity-goodplay .dity-goodplay-con p {
            line-height: 2.2rem;
            font-size: 0.56rem;
            color: #1E9FEA; }
      .hyf-dity-main .hyf-dity-cont .dity-main .buttones {
        margin-top: .36rem;
        width: 100%;
        height: .4rem;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap row; }
        .hyf-dity-main .hyf-dity-cont .dity-main .buttones li {
          width: 1.28rem;
          height: .4rem;
          background: no-repeat center/cover; }
        .hyf-dity-main .hyf-dity-cont .dity-main .buttones li:nth-child(1) {
          background-image: url("../Img/hyf_des_list1.png"); }
        .hyf-dity-main .hyf-dity-cont .dity-main .buttones li:nth-child(2) {
          background-image: url("../Img/hyf_des_list2.png"); }
        .hyf-dity-main .hyf-dity-cont .dity-main .buttones li:nth-child(3) {
          background-image: url("../Img/hyf_des_list3.png"); }
        .hyf-dity-main .hyf-dity-cont .dity-main .buttones li:nth-child(4) {
          background-image: url("../Img/hyf_des_list4.png"); }
        .hyf-dity-main .hyf-dity-cont .dity-main .buttones li:nth-child(5) {
          background-image: url("../Img/hyf_des_list5.png"); }

.hyf-review-list {
  width: 100%;
  height: auto;
  margin-top: .25rem; }
  .hyf-review-list .hyf-review-item {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0 .34rem 0 .21rem;
    border-left: .13rem solid #35b8fe;
    box-shadow: 0 0 10px #929292;
    margin-top: .25rem;
    border-radius: 5px;
    overflow: hidden; }
    .hyf-review-list .hyf-review-item .review-user {
      width: 100%;
      height: .86rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .hyf-review-list .hyf-review-item .review-user .user-left, .hyf-review-list .hyf-review-item .review-user .user-right {
        width: 100%;
        height: .55rem;
        font-size: 0.2rem;
        overflow: hidden;
        color: #ABABAB;
        display: flex;
        flex-flow: wrap row; }
        .hyf-review-list .hyf-review-item .review-user .user-left .user-id p, .hyf-review-list .hyf-review-item .review-user .user-right .user-id p {
          font-size: 0.24rem; }
      .hyf-review-list .hyf-review-item .review-user .user-avatar {
        width: .55rem;
        height: .55rem;
        border-radius: 50%;
        overflow: hidden; }
        .hyf-review-list .hyf-review-item .review-user .user-avatar img {
          width: 100%;
          height: 100%; }
      .hyf-review-list .hyf-review-item .review-user .user-right {
        display: flex;
        justify-content: flex-end; }
    .hyf-review-list .hyf-review-item .review-con {
      color: #474747;
      font-size: 0.24rem; }
    .hyf-review-list .hyf-review-item .review-con-img {
      width: 100%;
      height: auto;
      overflow: hidden;
      display: flex;
      flex-flow: row wrap; }
      .hyf-review-list .hyf-review-item .review-con-img li {
        margin: 0.16rem 0.28rem 0.37rem 0;
        width: 1.35rem;
        height: 1.05rem; }
        .hyf-review-list .hyf-review-item .review-con-img li img {
          height: 100%; }
    .hyf-review-list .hyf-review-item .review-con-reply {
      margin-bottom: .17rem;
      font-size: 0.24rem;
      display: flex;
      flex-flow: wrap row; }
      .hyf-review-list .hyf-review-item .review-con-reply span {
        color: #ABABAB; }
      .hyf-review-list .hyf-review-item .review-con-reply p {
        color: #474747;
        padding-left: .2rem; }
