$large-font:0.56rem;
$large-en-font:0.60rem;
$nav-font:0.32rem;
$nav-en-font:0.4rem;
$title-font:0.28rem;
$title-en-font:0.36rem;
$content-font:0.24rem;
$content-en-font:0.32rem;
$sub-font:0.20rem;
$sub-en-font:0.28rem;
$nav-color:linear-gradient(45deg,#1CACFF, #1D9DE7);
$button-color:linear-gradient(90deg,#FFC71C,#FBA91A);
$title-color:#474747;
$content-color:#ABABAB;
$line-color:#EEEEEE;
$bg-color:#F6F6F6;

